In [1]:
import json
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
f = open('course_schedules 2022-2023 Record.json', encoding="utf8")

In [3]:
data = json.load(f)

In [4]:
df = pd.DataFrame(data)

In [5]:
df.shape

(21855, 46)

#

In [6]:
colu=df.columns

In [7]:
df['infra_name'] = df['infra_name'].replace(np.nan, "-")
df['infra_name'] = df['infra_name'].replace("", "-")

In [8]:
df

,_id,sessionDetail,zoomDetail,rotation,merge_status,session_ids,status,isDeleted,isActive,zoomRecord,...,substitute_staffs,merge_with,createdAt,updatedAt,__v,socket_port,uuid,zoomDurationCron,title,sub_type
0,{'$oid': '62c28bb83376d914569dda88'},"{'retake': False, 'attendance_mode': 'complete...",{'meetingStatus': 'completed'},no,False,[],completed,False,True,False,...,[],[],{'$date': {'$numberLong': '1656916920819'}},{'$date': {'$numberLong': '1679472559505'}},0.0,62c28bb83376d914569dda88-L-1,e6bf72b3-7757-41a0-bc56-b174da2fad3e,NaN,NaN,NaN
1,{'$oid': '62c295484ee768f271eff903'},"{'retake': False, 'attendance_mode': 'complete...",{'meetingStatus': 'Not Started'},no,False,[],completed,False,True,False,...,[],[],{'$date': {'$numberLong': '1656919368601'}},{'$date': {'$numberLong': '1679472559505'}},0.0,62c295484ee768f271eff903-L-2,46eece3e-b4c6-443b-ab9b-e1af3ee8a002,NaN,NaN,NaN
2,{'$oid': '62c2e731c0454b2fa5f81091'},"{'retake': True, 'attendance_mode': 'completed...",{'meetingStatus': 'Not Started'},no,False,[],completed,False,True,False,...,[],[],{'$date': {'$numberLong': '1656940337101'}},{'$date': {'$numberLong': '1679472559505'}},0.0,62c2e731c0454b2fa5f81091-L-1,33441e88-e625-4033-8e43-cf5d34468385,NaN,NaN,NaN
3,{'$oid': '62c2e8cc95ab2906e6d462bd'},"{'retake': True, 'attendance_mode': 'completed...",{'meetingStatus': 'Not Started'},no,False,[],completed,False,True,False,...,[],[],{'$date': {'$numberLong': '1656940748708'}},{'$date': {'$numberLong': '1680720513844'}},0.0,62c2e8cc95ab2906e6d462bd-L-1,e0108a9a-bced-4f77-a396-af715bc6d634,NaN,NaN,NaN
4,{'$oid': '62c2f6723a6585e8e0582346'},"{'retake': False, 'attendance_mode': 'complete...","{'meetingStatus': 'completed', 'passCode': '58...",no,False,[],completed,False,True,True,...,[],[],{'$date': {'$numberLong': '1656944242946'}},{'$date': {'$numberLong': '1679472559505'}},0.0,62c2f6723a6585e8e0582346-L-3,85903fcd-9fa5-4d1a-b665-a8af738d7695,True,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21850,{'$oid': '63b69813d50b6d5a52800a07'},"{'retake': False, 'attendance_mode': 'complete...",{'meetingStatus': 'Not Started'},no,False,[],completed,False,True,False,...,[],[],{'$date': {'$numberLong': '1672910867632'}},{'$date': {'$numberLong': '1683805102653'}},0.0,63b69813d50b6d5a52800a07-T-13,57f6d20c-0db0-48fa-840d-d9a2f5b3bc36,NaN,NaN,NaN
21851,{'$oid': '63c2b7ef4a143316dd664173'},"{'retake': False, 'attendance_mode': 'complete...",{'meetingStatus': 'Not Started'},yes,False,[],completed,False,True,False,...,[],[],{'$date': {'$numberLong': '1673705455793'}},{'$date': {'$numberLong': '1683806461215'}},0.0,63c2b7ef4a143316dd664173-L-12,cdb00253-ebc2-4b91-a633-bea6f242cd54,NaN,NaN,NaN
21852,{'$oid': '63c9321f9f4bb63dad99e16f'},"{'retake': False, 'attendance_mode': 'complete...",{'meetingStatus': 'Not Started'},no,False,[],completed,False,True,False,...,[],[],{'$date': {'$numberLong': '1674129951655'}},{'$date': {'$numberLong': '1683806461325'}},0.0,63c9321f9f4bb63dad99e16f-s-1,1ad49e54-0c3e-4a74-90aa-01384a57b127,NaN,Support Session-24,Interactive lecture
21853,{'$oid': '64214dfe382728967de193bc'},"{'retake': False, 'attendance_mode': 'complete...",{'meetingStatus': 'Not Started'},no,False,[],completed,False,True,False,...,[],[],{'$date': {'$numberLong': '1679904254200'}},{'$date': {'$numberLong': '1683806461350'}},0.0,64214dfe382728967de193bc-L-76,1cafd0d6-dd88-49be-896d-59eb9529e120,NaN,NaN,NaN
21854,{'$oid': '64573b752db9b80bd687f095'},"{'retake': False, 'attendance_mode': 'complete...",{'meetingStatus': 'Not Started'},no,False,[],completed,False,True,False,...,[],[],{'$date': {'$numberLong': '1683438453933'}},{'$date': {'$numberLong': '1683806410007'}},0.0,64573b752db9b80bd687f095-L-28,3dc08c41-3c3c-4ac8-9761-4776a5544992,NaN,NaN,NaN

In [9]:
for col in colu:
    print(col+":")
    print(df[col][5])
    print("""
    
    
    
    -----------------------------------------------------------------------------------------------------------------
    
    
    """)

_id:
{'$oid': '62c3c6ab6ce62c5c9c6b6d9f'}




    -----------------------------------------------------------------------------------------------------------------



sessionDetail:
{'retake': False, 'attendance_mode': 'completed', 'startBy': {'$oid': '60caf1c70f7c6f5a708ef55c'}, 'start_time': {'$date': {'$numberLong': '1656998310495'}}, 'stop_time': {'$date': {'$numberLong': '1656999060591'}}}




    -----------------------------------------------------------------------------------------------------------------



zoomDetail:
{'meetingStatus': 'completed', 'passCode': '587151', 'zoomMeetingId': '84410099463', 'zoomStartUrl': 'https://us02web.zoom.us/s/84410099463?zak=eyJ0eXAiOiJKV1QiLCJzdiI6IjAwMDAwMSIsInptX3NrbSI6InptX28ybSIsImFsZyI6IkhTMjU2In0.eyJhdWQiOiJjbGllbnRzbSIsInVpZCI6Ik52amx6UjlnUWhLZ192Vnh0OHBpQnciLCJpc3MiOiJ3ZWIiLCJzayI6IjY3NzA0ODAzMjU4MTA1Mjc4OTciLCJzdHkiOjEwMCwid2NkIjoidXMwMiIsImNsdCI6MCwibW51bSI6Ijg0NDEwMDk5NDYzIiwiZXhwIjoxNjU3MDA1NTExLCJpYXQiOjE2NTY5OTgzMTEsImFpZCI6ImtRbFg2MVNuVHNhV1RlQzNjWkdFYVEiLCJjaWQiOiIifQ.XD66B4TnJYswCryfKrjwiuMwU6ezQPwboN8HJLn_YDg', 'zoomUuid': 't1PIX5vAT4eS9YDg+IPD0A==', 'zoomTotalDuration': '360'}




    -----------------------------------------------------------------------------------------------------------------



rotation:
no




    -----------------------------------------------------------------------------------------------------------------



merge_status:
False




    -----------------------------------------------------------------------------------------------------------------



session_ids:
[]




    -----------------------------------------------------------------------------------------------------------------



status:
completed




    -----------------------------------------------------------------------------------------------------------------



isDeleted:
False




    -----------------------------------------------------------------------------------------------------------------



isActive:
True




    -----------------------------------------------------------------------------------------------------------------



zoomRecord:
True




    -----------------------------------------------------------------------------------------------------------------



zoomDuration:
False




    -----------------------------------------------------------------------------------------------------------------



_institution_id:
{'$oid': '5e5d0f1a15b4d600173d5692'}




    -----------------------------------------------------------------------------------------------------------------



_institution_calendar_id:
{'$oid': '62b47641ce392520ecbbf28f'}




    -----------------------------------------------------------------------------------------------------------------



_program_id:
{'$oid': '61fd106e81f497546fd03b64'}




    -----------------------------------------------------------------------------------------------------------------



program_name:
Sanityprogram




    -----------------------------------------------------------------------------------------------------------------



type:
regular




    -----------------------------------------------------------------------------------------------------------------



term:
regular




    -----------------------------------------------------------------------------------------------------------------



_student_group_id:
{'$oid': '62bc259648163c8901eb9cfe'}




    -----------------------------------------------------------------------------------------------------------------



year_no:
year1




    -----------------------------------------------------------------------------------------------------------------



level_no:
Level 1




    -----------------------------------------------------------------------------------------------------------------



_course_id:
{'$oid': '61fd1644a77a22eb1444355d'}




    -----------------------------------------------------------------------------------------------------------------



course_name:
English for Academic




    -----------------------------------------------------------------------------------------------------------------



course_code:
ENGL1001




    -----------------------------------------------------------------------------------------------------------------



session:
{'_session_id': {'$oid': '620fcf40036996796dd8c6f3'}, 's_no': 2, 'delivery_symbol': 'L', 'delivery_no': 2, 'session_type': 'Interactive lecture', 'session_topic': 'topic 2'}




    -----------------------------------------------------------------------------------------------------------------



student_groups:
[{'_id': {'$oid': '62c3c6ab6ce62c45916b6da0'}, 'group_id': {'$oid': '62c2812123bd4c2b200a3e19'}, 'gender': 'male', 'group_no': 1, 'group_name': '2022-2023-SP-RT-1Y-SP:Tharanifound 2.0-1L-M-G1', 'session_group': [{'_id': {'$oid': '62c3c6ab6ce62c08a86b6da1'}, 'session_group_id': {'$oid': '62c2816c48163c5529eb9e7c'}, 'group_no': 1, 'group_name': '2022-2023-SP-RT-1Y-SP:Tharanifound 2.0-1L-ENGL1001-G1-L-1'}, {'_id': {'$oid': '62c3c6ab6ce62ce1346b6da2'}, 'session_group_id': {'$oid': '62c2816c48163ce673eb9e7d'}, 'group_no': 2, 'group_name': '2022-2023-SP-RT-1Y-SP:Tharanifound 2.0-1L-ENGL1001-G1-L-2'}], 'students': []}]




    -----------------------------------------------------------------------------------------------------------------



schedule_date:
{'$date': {'$numberLong': '1656979200000'}}




    -----------------------------------------------------------------------------------------------------------------



start:
{'hour': 10, 'minute': 45, 'format': 'AM'}




    -----------------------------------------------------------------------------------------------------------------



end:
{'hour': 11, 'minute': 0, 'format': 'AM'}




    -----------------------------------------------------------------------------------------------------------------



scheduleStartDateAndTime:
{'$date': {'$numberLong': '1656998100000'}}




    -----------------------------------------------------------------------------------------------------------------



scheduleEndDateAndTime:
{'$date': {'$numberLong': '1656999000000'}}




    -----------------------------------------------------------------------------------------------------------------



mode:
remote




    -----------------------------------------------------------------------------------------------------------------



subjects:
[{'_id': {'$oid': '62c3c6ab6ce62c82166b6da3'}, '_subject_id': {'$oid': '61fd107b76364203baa7b828'}, 'subject_name': 'English'}]




    -----------------------------------------------------------------------------------------------------------------



staffs:
[{'status': 'present', '_id': {'$oid': '62c3c6ab6ce62c2e5d6b6da4'}, 'staff_name': {'first': 'Dharani', 'last': 'dhakshan', 'family': '', 'middle': ''}, '_staff_id': {'$oid': '60caf1c70f7c6f5a708ef55c'}, 'duration': '360'}]




    -----------------------------------------------------------------------------------------------------------------



students:
[{'status': 'absent', 'name': {'first': 'Test1', 'last': 'Test1', 'family': '', 'middle': ''}, '_id': {'$oid': '60cafeb10f7c6f05508ef5ed'}, 'join_url': 'https://us02web.zoom.us/w/84410099463?tk=Im4iVrOGzGdE3KYWAjU0sXITPsyU1OguqrT4Yrtcd7Y.DQMAAAATpzvnBxZjWTJ3VV9OSVNPaTFZQkRMRkhVbjl3AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA&pwd=SllBUXkweCtKOGRqVFFkWDF5R3oyQT09', 'mode': 'auto', 'time': {'$date': {'$numberLong': '1656998420538'}}, 'feedBack': {'rating': 5, 'comments': None}, 'duration': '227', 'percentage': '63.05555555555556'}]




    -----------------------------------------------------------------------------------------------------------------



_infra_id:
{'$oid': '62c2968b7bed6d20caa45fa7'}




    -----------------------------------------------------------------------------------------------------------------



infra_name:
Abutahir Room




    -----------------------------------------------------------------------------------------------------------------



substitute_staffs:
[]




    -----------------------------------------------------------------------------------------------------------------



merge_with:
[]




    -----------------------------------------------------------------------------------------------------------------



createdAt:
{'$date': {'$numberLong': '1656997547112'}}




    -----------------------------------------------------------------------------------------------------------------



updatedAt:
{'$date': {'$numberLong': '1679472559505'}}




    -----------------------------------------------------------------------------------------------------------------



__v:
0.0




    -----------------------------------------------------------------------------------------------------------------



socket_port:
62c3c6ab6ce62c5c9c6b6d9f-L-2




    -----------------------------------------------------------------------------------------------------------------



uuid:
fff1b4bf-e5ce-4527-b459-e5eb7eecb145




    -----------------------------------------------------------------------------------------------------------------



zoomDurationCron:
True




    -----------------------------------------------------------------------------------------------------------------



title:
nan




    -----------------------------------------------------------------------------------------------------------------



sub_type:
nan




    -----------------------------------------------------------------------------------------------------------------

In [10]:
Session_Date=[]

start_time=[]
stop_time=[]
schedule_Start_Time=[]
schedule_End_Time=[]


program_name=[]
session_type=[]
session_term=[]

year_no=[]
level_no=[]
course_name=[]
course_code=[]
session_mode=[]
subject_name=[]
Primary_staff=[]
sub_staff=[]


Total_student=[]
auto_a=[]
manual_a=[]
auto_p=[]
manual_p=[]


duration_as_per_zoom=[]
infra_name=[]
title=[]
sub_type=[]

In [11]:
for no ,session in df.iterrows():
    start=int(session["sessionDetail"]["start_time"]["$date"]["$numberLong"])
    start = datetime.fromtimestamp(int(start)/1000)
    
    #date
    Session_Date.append(start.strftime("%Y-%m-%d"))
    
    #session started time
    start_time.append(start.strftime("%H:%M"))

    try:
        stop=session["sessionDetail"]["stop_time"]["$date"]["$numberLong"]
        stop = datetime.fromtimestamp(int(stop)/1000)
        
        #session ended time
        stop_time.append(stop.strftime("%H:%M"))
    except:
        stop=session["sessionDetail"]["stop_time"]["$numberLong"]
        stop = datetime.fromtimestamp(int(stop)/1000)
        
        #session ended time
        stop_time.append(stop.strftime("%H:%M"))
        
 
    schedule_Start=session["scheduleStartDateAndTime"]["$date"]["$numberLong"]
    schedule_Start = datetime.fromtimestamp(int(schedule_Start)/1000)
    
    #session starting time as per schedule time
    schedule_Start_Time.append(schedule_Start.strftime("%H:%M"))
    
    
    schedule_end=session["scheduleEndDateAndTime"]["$date"]["$numberLong"]
    schedule_end = datetime.fromtimestamp(int(schedule_end)/1000)
    
    #session ending time as per schedule time
    schedule_End_Time.append(schedule_end.strftime("%H:%M"))
    
    #program_name
    program_name.append(session["program_name"])
    
    #session_type
    session_type.append(session["type"])
    
    #session_term
    session_term.append(session["term"])
    
    #year_no
    year_no.append(session["year_no"])
    
    #level_no
    level_no.append(session["level_no"])
    
    
    #course_name
    course_name.append(session["course_name"])
    
    
    #course_code
    course_code.append(session["course_code"])
    
    #session_mode
    session_mode.append(session["mode"])
    
    #subject_name
    subject_name.append(session["subjects"][0]["subject_name"])
    
    
    pri_staff_id=(session["sessionDetail"]['startBy']['$oid'])
    if len(session['staffs'])==1:
        f_n=session['staffs'][0]['staff_name']['first']
        l_n=session['staffs'][0]['staff_name']['last']
        name=(f_n+" "+l_n)
        
        #Primary_staff
        Primary_staff.append(name)
        
        #sub_staff
        sub_staff.append("-")
    else:
        sub_staffs=[]
        for staf in session['staffs']:
            if staf['_staff_id']['$oid'] == pri_staff_id:
                f_n=staf['staff_name']['first']
                l_n=staf['staff_name']['last']
                name=(f_n+" "+l_n)
                
                #Primary_staff
                Primary_staff.append(name)
            else:
                f_n=staf['staff_name']['first']
                l_n=staf['staff_name']['last']
                name=(f_n+" "+l_n)  
                sub_staffs.append(name)
                
        #sub_staff        
        sub_staff.append(",".join(sub_staffs))
        
    t_student=0 
    auto_a_=0
    manual_a_=0
    auto_p_=0
    manual_p_=0
    
    for stu in session['students']:
        t_student+=1
        if stu['status'] == "present":
            try:
                if stu['mode']=='auto':
                    auto_p_+=1
                else:
                    manual_p_+=1
            except:
                auto_p_+=1
            
        elif stu['status'] == "absent":
            try:
                if stu['mode']=='auto':
                    auto_a_+=1
                else:
                    manual_a_+=1
            except:
                auto_a_+=1
  
    #Total_student        
    Total_student.append(t_student)
    auto_a.append(auto_a_)
    manual_a.append(manual_a_)
    auto_p.append(auto_p_)
    manual_p.append(manual_p_)
    
    #infra_name
    infra_name.append(session['infra_name'])
    
    #title
    title.append(session['title'])
    
    #sub_type
    sub_type.append(session['sub_type'])
    
   # print(session['staffs'])
    try:
        time_dur=session['staffs'][0]['duration']
        time_dur=round(int(time_dur)/60)
        duration_as_per_zoom.append(time_dur)
    except:
        duration_as_per_zoom.append("-")

In [12]:
len(Session_Date),len(start_time),len(stop_time),len(schedule_Start_Time),len(schedule_End_Time),len(program_name),len(session_type),len(session_term),len(year_no),len(level_no),len(course_name),len(course_code),len(session_mode),len(subject_name),len(Primary_staff),len(sub_staff),len(Total_student),len(auto_a),len(manual_a),len(auto_p),len(manual_p),len(infra_name),len(title),len(sub_type),len(duration_as_per_zoom)

(21855,
 21855,
 21855,
 21855,
 21855,
 21855,
 21855,
 21855,
 21855,
 21855,
 21855,
 21855,
 21855,
 21855,
 21855,
 21855,
 21855,
 21855,
 21855,
 21855,
 21855,
 21855,
 21855,
 21855,
 21855)

In [13]:
#Session_Date,start_time,stop_time,schedule_Start_Time,schedule_End_Time,program_name,session_type,session_term,year_no,level_no,course_name,course_code,session_mode,subject_name,Primary_staff,sub_staff,Total_student,auto_a,manual_a,auto_p,manual_p,infra_name,title,sub_type,duration_as_per_zoom

In [14]:
df = pd.DataFrame(list(zip(Session_Date,start_time,stop_time,schedule_Start_Time,schedule_End_Time,program_name,session_type,session_term,year_no,level_no,course_name,course_code,session_mode,subject_name,Primary_staff,sub_staff,Total_student,auto_a,manual_a,auto_p,manual_p,infra_name,title,sub_type,duration_as_per_zoom)),columns =["Session_Date","start_time","stop_time","schedule_Start_Time","schedule_End_Time","program_name","session_type","session_term","year_no","level_no","course_name","course_code","session_mode","subject_name","Primary_staff","sub_staff","Total_student","auto_a","manual_a","auto_p","manual_p","infra_name","title","sub_type","duration_as_per_zoom"])

In [15]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_row', None)
df.loc[(df['Primary_staff'] == "Noor Ameen") & (df['infra_name'] == "Abutahir Room")]

,Session_Date,start_time,stop_time,schedule_Start_Time,schedule_End_Time,program_name,session_type,session_term,year_no,level_no,course_name,course_code,session_mode,subject_name,Primary_staff,sub_staff,Total_student,auto_a,manual_a,auto_p,manual_p,infra_name,title,sub_type,duration_as_per_zoom
4,2022-07-04,20:07,20:16,20:00,20:15,Sanityprogram,regular,regular,year1,Level 1,English for Academic,ENGL1001,remote,English,Noor Ameen,-,1,0,0,1,0,Abutahir Room,NaN,NaN,9
8,2022-07-05,21:23,21:25,21:15,21:30,Sanityprogram,regular,regular,year1,Level 1,English for Academic,ENGL1001,remote,English,Noor Ameen,"Dharani dhakshan,srinivasan kesavan",1,1,0,0,0,Abutahir Room,NaN,NaN,-
9,2022-07-06,10:12,10:16,10:00,10:15,Sanityprogram,support_session,regular,year1,Level 1,English for Academic,ENGL1001,remote,English,Noor Ameen,-,1,0,0,1,0,Abutahir Room,SUPPORT,Counselling,-
2140,2022-09-12,16:06,16:16,16:00,16:15,Sanityprogram,regular,regular,year1,Level 1,Information technology,ITHS1001,remote,Information technology for health sciences,Noor Ameen,-,1,1,0,0,0,Abutahir Room,NaN,NaN,9
2141,2022-09-12,16:06,16:16,16:00,16:15,Sanityprogram,regular,regular,year1,Level 1,Information technology,ITHS1001,remote,Information technology for health sciences,Noor Ameen,-,1,1,0,0,0,Abutahir Room,NaN,NaN,9
2142,2022-09-12,16:19,16:28,16:15,16:30,Sanityprogram,regular,regular,year1,Level 1,Information technology,ITHS1001,remote,Information technology for health sciences,Noor Ameen,-,1,0,0,1,0,Abutahir Room,NaN,NaN,9
2143,2022-09-12,16:19,16:28,16:15,16:30,Sanityprogram,regular,regular,year1,Level 1,Information technology,ITHS1001,remote,Information technology for health sciences,Noor Ameen,-,1,0,0,1,0,Abutahir Room,NaN,NaN,9
2144,2022-09-12,16:35,16:44,16:30,16:45,Sanityprogram,regular,regular,year1,Level 1,Information technology,ITHS1001,remote,Information technology for health sciences,Noor Ameen,-,1,1,0,0,0,Abutahir Room,NaN,NaN,6
2145,2022-09-12,16:35,16:44,16:30,16:45,Sanityprogram,regular,regular,year1,Level 1,Information technology,ITHS1001,remote,Information technology for health sciences,Noor Ameen,-,1,1,0,0,0,Abutahir Room,NaN,NaN,6

In [17]:
df.shape

(21855, 25)

In [18]:
df.to_csv('All_Session_Data.csv')